<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	link(rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css")
	title Home
body
	div.row
		h1.col-sm-4
			| #{name}`s profile
		a(href=`/users/${username}/details` class="btn btn-default col-sm-offset-5")
			| Update profile details
		a(href="/logout" class="btn btn-danger")
			| Logout
	div.profile-details.row
		img(src=image class="col-sm-5")
		div.col-sm-6
			a.col-sm-12(href=`/users/${username}/superheroes`) Favorite Superheroes
			a.col-sm-12(href=`/users/${username}/fractions`) Favorite Fractions

